@model Auctions.Domain.Entities.Lot
@{
    ViewBag.Title = Model.Name + "Admin: Edit ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@Model.Name</h1>
<div class="form-group">
    <label class="col-md-2 control-label">Фото</label>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:Нет изображения
        }
        else
        {
            <img id="imgedit" name="image" width="150" height="150" src="@Url.Action("GetImage", "Lot", new {Model.LotID })" />
        }
    </div>
</div>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group" style="display : none;">
        @Html.LabelFor(m => m.LotID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LotID, new { @class = "form-control" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Название", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, "Описание", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Время действия (Дней)</label>
                        <div class="col-md-10">
                            <input class="form-control" type="number" name="days" value="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StartPrice, "Начальная цена", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.StartPrice, new { @class = "form-control" })
                        </div>
                    </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Category, "Категория", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("Category", new SelectList(new string[] { "Телефоны и смартфоны", "Ноутбуки и компьютеры", "Коллекционирование", "Искусство Антиквариат Живопись" }), "Категории", new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">Загрузите фото:</label>
                            <div class="col-md-10">
                                <input class="form-control" type="file" name="image" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="but1" type="submit" value="Сохранить" />
                            @Html.ActionLink("Сброс и возврат к списку лотов", "Index")
                        </div>

}       
